[user]
	name = blargg
	email = tomjankauski@gmail.com
	signingkey = DD24 4C82 1EB2 5531 FEBD  20AC 66E2 7EDC 0CE2 0DFF
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[merge]
	tool = fugitive
[credential]
	helper = cache
[alias]
	l = log --graph --pretty=format:'%C(yellow)%h%Creset%C(cyan)%d%Creset %C(white bold)%s%Creset %C(white dim)(by %an %ar)%Creset' --all
	ll = !git l --all
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	root = rev-parse --show-toplevel
[color]
	ui = auto
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[pull]
	rebase = true
